.wrapper {
  transition: background-color 0.1s;
  color-scheme: light;

  display: flex;
  flex-direction: column;

  height: 100vh;
  background: var(--gray-600);
}
.wrapperLight {
  background: var(--gray-100);
}
.wrapperMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex: 1;
  max-width: 46rem;
}
.form {
  transition: background-color 0.1s;

  height: 100%;
  width: 100%;

  margin-top: calc(0px - 1rem - 8px);

  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 4rem;
}
.form button[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.form:focus-within button[type="submit"]:not(:disabled):hover {
  background-color: var(--blue);
}
.inputText {
  transition: background-color 0.1s;
  flex: 1;

  font-size: 1rem;
  color: var(--gray-300);
  background-color: var(--gray-400);

  border-radius: 0.5rem;
  padding: 1rem;
}
.formLight .inputText {
  flex: 1;

  font-size: 1rem;
  color: var(--blue-dark);
  background-color: var(--gray-200);

  border-radius: 0.5rem;
  padding: 1rem;
}
.inputText:focus {
  color: var(--gray-200);
  box-shadow: 0px 0px 0px 2px var(--purple-dark);
}
.buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 700;
  color: var(--gray-100);

  padding: 1rem;
  border-radius: 0.5rem;

  gap: 0.5rem;

  cursor: pointer;

  background-color: var(--purple-dark);

  transition: background-color 0.2s;
}
.managerTasks {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;

  width: 100%;
}
.managerTasks .createdTasks:nth-of-type(1) > p,
.managerTasks .createdTasks:nth-of-type(2) > p,
.managerTasks .createdTasks > strong {
  color: var(--gray-100);

  display: flex;
  gap: 0.5rem;
}
.managerTasks .createdTasks:nth-of-type(1) p > strong {
  color: var(--blue);
}
.managerTasks .createdTasks:nth-of-type(2) p > strong {
  color: var(--purple);
}
.managerTasks .createdTasks:nth-of-type(1) p > span,
.managerTasks .createdTasks:nth-of-type(2) p:nth-of-type(1) > span {
  transition: color 0.1s, background 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 4, 6875rem;

  color: white;
  background-color: var(--gray-400);

  font-size: 0.75rem;
  font-weight: 700;

  border-radius: 999px;
  padding: 0.125rem 1rem;
}
.managerTasksLight .createdTasks:nth-of-type(1) p > span {
  background: var(--gray-200);
  color: var(--blue);
}
.managerTasksLight .createdTasks:nth-of-type(2) p:nth-of-type(1) > span {
  background: var(--gray-200);
  color: var(--purple);
}
.containerRomoveAll {
  display: flex;
  justify-content: flex-end;

  padding: 0.5rem 0 0.4rem 0;
  margin-bottom: calc(0px - 1rem - 5px);
}
.removeAll {
  border-radius: 0.5rem;
  padding: 0.5rem;

  font-size: 0.85rem;

  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  background-color: var(--danger);
  color: var(--gray-100);
}
.removeAllMobile {
  display: none;
}
.removeAll:hover,
.removeAllMobile:hover {
  color: var(--white);
  background-color: var(--danger-dark);
}
.list {
  scroll-behavior: smooth;
  overflow-y: scroll;

  max-height: 25rem;
  width: 100%;

  padding: 0.1rem 0.1rem 0 0.1rem;
}
.list::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .inputText,
  .buttonAdd {
    width: 100%;
  }
  .buttonAdd {
    background: var(--blue-to-purple);
  }
  .managerTasks {
    margin-top: calc(0px - 0.8rem - 0px);
    margin-bottom: 1rem;
  }
  .managerTasks .createdTasks:nth-of-type(1) p,
  .managerTasks .createdTasks:nth-of-type(2) p:nth-of-type(1) {
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .removeAll {
    display: none;
  }
  .removeAllMobile {
    display: block;

    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.7rem;

    font-size: 0.85rem;

    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    background-color: var(--danger);
    color: var(--gray-100);
  }
  .list {
    max-height: 20rem;
  }
}
