.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  border-radius: .5rem;

  box-shadow: 0px -1px 0px var(--gray-300) !important;

  padding: 4rem 1.5rem;
}
.card p:nth-of-type(1){
  margin-top: 1rem;
}
.card p{
  color: var(--gray-300);
}
.cardLight {
  box-shadow: 0px -1px 0px var(--gray-200);
}
@media (max-width: 400px){
  .card p {
    text-align: center;
  }
}